<aside class="Hui-aside">
  <div class="menu_dropdown bk_2">
    <dl id="verifycate">
      <dt>
        <i class="Hui-iconfont">&#xe616;</i>核销管理<i
          class="Hui-iconfont menu_dropdown-arrow"
          >&#xe6d5;</i
        >
      </dt>
      <dd>
        <ul>
          <li>
            <a
              data-title="订单核销"
              data-href="{:U('verificate/index')}"
              href="{:U('verificate/index')}"
              target="iframe"
              >订单核销</a
            >
          </li>
        </ul>
      </dd>
    </dl>

    <dl id="order">
      <dt>
        <i class="Hui-iconfont">&#xe616;</i>订单管理<i
              class="Hui-iconfont menu_dropdown-arrow"
      >&#xe6d5;</i
      >
      </dt>
      <dd>
        <ul>
          <li>
            <a
                    data-title="订单列表"
                    data-href="{:U('order/index')}"
                    href="{:U('order/index')}"
                    target="iframe"
            >订单列表</a
            >
          </li>
        </ul>
      </dd>
    </dl>





  </div>
</aside>
